.main_section {
    background-color: rgb(234, 255, 250);
    display: grid;
    grid-template-rows: 1fr auto;   
    height: auto; 
    width: auto;
    padding: 8% 4% 3% 4%;
}

.main_text_image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.main_text {
    width: 45%;
    h1 {
        font-size: 4.3rem;
        font-weight: 900;
    }

    p {
        font-size: 1.7rem;
        font-weight: 500;
    }
}

.main_img {
}

.main_button {
    margin: 2% 0%;

    button {
        width: 20%;
        border: 0;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1%;
        color: white;
        background-color: rgb(12, 220, 192);
        border-radius: 10px;
    }

    button:hover {
        background-color: rgb(11, 192, 168);   
        cursor: pointer;
    }

    button:active {
        transform: scale(0.9);
        background-color: rgb(11, 192, 168);   
    }
}

.main_modal {
    border: 0;
    border-radius: 10px;
    background-color:  white;   
}

.modal_title {
    width: 100%;
    text-align: center;
}

.modal_logo {
    h1 {
        margin: 0% 0% 2% 0%;
        color: rgb(33, 125, 103);
    }
}

.modal_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: 600;
        width: 49%;
        padding: 2%;
        border: 0;
        background-color: rgb(0, 236, 158);
        color: white;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(0, 168, 112);
    }
    button:active {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1240px) {
    .main_text_image {
        justify-content: center;
    }

    .main_text {
        width: 100%;
    }

    .main_button {
        margin: 2% 0%;
    }
}

@media screen and (max-width: 800px) {
    .main_section {
        display: flex;
        flex-wrap: wrap;
        padding-top: 25%;
    }

    .main_text_image {
        text-align: center;
        max-width: 100%;
        width: fit-content;
    }

    .main_text {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .main_img {
        img {
            width: min-content;
            max-width: 100%;
            height: fit-content;
        }
    }

    .main_button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 100%;
            margin: 10% 0%;
        }
    }
}

@media screen and (max-width: 650px) {
    .main_section {
        padding-top: 30%;
    }
}

@media screen and (max-width: 450px) {
    .main_section {
        padding-top: 40%;
    }
}

@media screen and (max-width: 300px) {
    .main_section {
        padding-top: 60%;
    }
}