$radius_dashboards: 20px;
$title_dashboards: 2rem;

.dashboards {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1%;
    width: 100%;
    height: 100%;
    background-color: rgb(239, 239, 239);
    gap: 3%;
}

.dashboards_graphs {
    display: grid;
    grid-template-rows: auto auto auto;
}

.dashboards_visual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

.dashboards_columns_one {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1%;
}

.dashboards_background_saldo {
    background: linear-gradient(to bottom, rgb(1, 255, 225), rgb(0, 78, 69));
    width: 100%;
    border-radius: $radius_dashboards;
    font-size: $title_dashboards;
    padding: 3% 0% 0% 5%;
    height: auto;
    color: white;
}

.dashboards_saldo {
    background-image: url('/images_dashboards/chart_saldo_finaflow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: $radius_dashboards;

    h2 {
        margin: 0;
        margin-bottom: 10%;
    }

    h3 {
        margin: 0;
    }

}

.dashboards_presupuesto {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: white;
    border-radius: $radius_dashboards;
    width: 100%;
    padding: 3% 3% 1% 3%;
}

.presupuesto_title {
    font-size: $title_dashboards;

    h3 {
        margin: 0;
    }
}

.presupuesto_graficos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presupuesto_barras {
    display: grid;
    grid-template-rows: repeat(3, auto);
    height: 100%;
    width: 100%;
}

.barras {
    display: grid;
    grid-template-rows: auto auto;
}

.barras_title {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 600;
}

.barras_load {
    background-color: gray;
    border-radius: 100px;
    height: 50%;
}

.dashboards_ingresos {
    width: 100%;
    background-color: white;
    border-radius: $radius_dashboards;
    padding: 0;
    h3 {
        padding: 3% 0% 1% 3%;
        font-size: $title_dashboards;
        margin: 0;
    }
}

.barras_loading {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, rgb(1, 255, 225), rgb(0, 78, 69));
    border-radius: 100px;
    p {
        width: 100%;
        visibility: hidden;
    }
}

.dashboards_columns_two {
    display: grid;
    gap: 1%;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.dashboards_gastos {
    background-color: white;
    border-radius: $radius_dashboards;
}

.dashboards_categorias {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: white;
    border-radius: $radius_dashboards;
    width: 100%;
    height: 100%;
    padding: 3% 3% 1% 3%;
    box-sizing: border-box;
}

.categorias_title {
    font-size: $title_dashboards;

    h3 {
        margin: 0;
        margin-bottom: 5%;
    }

}

.categorias_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
}

.categorias_category {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5%;
}

.category_image {
    background-color: rgb(255, 147, 147);
    width: fit-content;
    padding: 2%;
    border-radius: 20px;
}

.category_data {
    font-size: 1.2rem;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.category_load {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.load_porcentaje {
    display: flex;
    justify-content: end;
    p {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.load {
    background-color: gray;
    border-radius: 20px;
}

.loading {
    background: linear-gradient(to right, rgb(1, 255, 225), rgb(0, 78, 69));
    width: 50%;
    border-radius: 20px;
}